.none {
    display: none;
}
#labAllWebTitle {                     
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: #888888;
}

#labAllfooter {                           
    font-size: 20px;
    margin: 20px;
    text-align: center;
    color: #888888;
}

#btnAllSub {
    width: 130px;
    height: 45px;
    font-size: 20px;
    background-color: #64A600;
    font-weight: 700;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 0 #ffffff;
    outline: none;
}
    #btnAllSub:hover {                 
        background-color: red;
    }

#btnAllSubCancel {
    width: 128px;
    height: 43px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border-color: #64A600;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    color: transparent;
    text-shadow: 0 0 0 #000;
    outline: none;
}
    #btnAllSubCancel:hover {
        background-color: red;
        color: transparent;
        text-shadow: 0 0 0 #ffffff;
        border: red;
    }

.btnAllLink {                 
    text-align: center;
    cursor: pointer;
    margin: 30px;
}
    .btnAllLink a {                    
        margin-left: 20px;
        color: inherit;
        cursor: pointer;
    }

    .btnAllLink a:hover {          
        color: #00FFFF;
    }
 
#allContainer {                   
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

    .txbAllInputBox {                           
        width: 550px;
        text-align: left;
        margin:50px;
        margin-left:10%;
    }

        .txbAllInputBox input {          
            border: 2px solid #34c2ff;
            height: 30px;
            width: 300px;
            margin-bottom: 20px;
        }

        .txbAllInputBoxBtn {                
            margin-left: 20px;
            color: inherit;
            cursor: pointer;
        }
            .txbAllInputBoxBtn:hover {
                color: #00FFFF;
            }

        .txbAllInputBox img {
            width: 30px;
            height: auto;
            filter: invert(1);  /* 暫時先用，之後要換成別的用法，目前只能在深色模式下變白色，淺色模式也會變白色，改成用svg檔，並用@madia 修改icon顏色*/
        }
.btnAllSml {
    width: 60px;
    height: 30px;
    font-size: 15px;
    color: #ffffff;
    background-color: red;
    font-weight: 600;
    margin-left: 15px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-align: center;
    position: relative;
}
    .btnAllSml:hover {
        background-color: #64A600;
        border-radius: 3px;
    }

.togCursor {
    cursor:pointer;
}

#homeBannerImage img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

#navContainer {
    display: flex;
}

    .btnNavs { 
        flex: auto;
        display: flex;
        justify-content: flex-start;
        margin-left:20px;
    }

        .btnNavs a { 
            font-size: 20px;
            text-decoration: none;
            color: #272727;
            margin: 10px;
            margin-right: 30px;
            cursor: pointer;
        }
            .btnNavs a:hover { 
                color: #00FFFF;
            }

    .nvaIcons {
        justify-content: flex-end;
        display: flex;
        cursor: pointer;
    }

        .nvaIcons img {
            width: 30px;
            height: 30px;
            margin-right: 30px;
            /*/filter: invert(1); 不安全，在不同瀏覽器有不一樣的效用*/ 
        }

#mbrContainer {  /*Mbr 會員中心*/
    display: flex;
}

    #mbrRightSpace {
    flex: auto;
    justify-content: center;
    display: flex;
    border: 3px solid #003E3E;
    height: 500px;
    width: 95%;
    border-radius: 10px;
    margin-right: 350px;
    margin-left: 15px;
    margin-top: 40px;
    }



    #mbrNavContainer {
        flex: none;
        height: 500px;
        width: 150px;
        border-radius: 10px;
        background-color: #003E3E;
        margin-top: 40px;
        margin-left: 12%;
    }

            .btnMbrNavs {           
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                align-items: center; 
            }
                .btnMbrNavs p {   
                    display: flex;
                    align-items: center;
                    margin: 20px;
                    font-size: 25px;
                    color: #BEBEBE;
                    border-bottom: 2px solid #BEBEBE;
                }

                .btnMbrNavs a {   
                    font-size: 20px;
                    text-decoration: none;
                    color: white;
                    margin: 10px;
                    cursor: pointer;
                }
                    .btnMbrNavs a:hover {        
                        color: #00FFFF;
                    }
/*彈窗一律使用*/
.popUps {
    position: relative;
}

/*文字提示小彈窗*/
.popUpBox {
    display: none;
    position: absolute;
    background-color: #003E3E;
    width: 230px;
    height: 40px;
    border-radius: 5px;
    top: 35px;
    left:15px;
}

.labpopUpBoxP {
    font-size: 15px;
    line-height: 40px;
    margin-left:10px;
}

/*icon下會員小彈窗*/
.popUpIcons {
    display: none;
    position: absolute;
    background-color: #003E3E;
    width: 120px;
    height: 100px;
    border-radius: 5px;
    top: 35px; 
    right: 35px;
}

    .popUpIcons button {
        width: auto;
        height: 50%;
        margin: auto;
        font-size: 20px;
        background-color: transparent;
        border: none;
        color: #ffffff;
        cursor: pointer;
        display: block;
    }
        .popUpIcons button:hover {
            color: #00FFFF;
        }

/*確認&取消彈窗*/
.popUpConfBox {
    display: none;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #003E3E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .popUpConfP{
                font-size: 20px;
                margin-top:20px;
                margin-left:70px;
            }
.btnsBox {
    display: flex;
    margin-top:80px;
    margin-left:110px;
}
    .btnConf {
        width: 80px;
        height: 50px;
        font-size: 20px;
        background-color: #64A600;
        border-color: #64A600;
        cursor: pointer;
        border-radius: 10px;
        display: block;
        margin-left:20px;
        }
            .btnConf:hover {
                background-color: red;
                color: #ffffff;
                border:red;
            }
    .btnCancel {
        width: 80px;
        height: 50px;
        font-size: 20px;
        background-color: white;
        border-color: #64A600;
        cursor: pointer;
        border-radius: 10px;
        display: block;
    }
        .btnCancel:hover {
            background-color: red;
            color: #ffffff;
            border:red;
        }

