.none {
    display: none;
}

.bgAllSubContainer {
    display:flex;
}

.btnBGAllSub1 {
    width: 130px;
    height: 45px;
    font-size: 20px;
    background-color: #64A600;
    font-weight: 700;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 0 #ffffff;
    outline:none;
}

    .btnBGAllSub1:hover { 
        background-color: red;
    }

.btnBGAllSub2 {
    width: 130px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
}

    .btnBGAllSub2:hover {
        color: #00FFFF;
    }

.togCursor {
    cursor: pointer;
}

#bgWeb {
    display: flex;
    height: 100vh;
}

#bgRightSpace {
    flex: auto;
}

    #bgRightSpaceTitle {
        font-size: 30px;
        flex: auto;
        margin-left: 40%;
        margin-top: 40px;
    }

    .bgRightSpaceIcons {
        justify-content: flex-end;
        display: flex;
        margin-right: 2%;
    }

        .bgRightSpaceIcons img {
            width: 30px;
            height: 30px;
            margin-left: 15px;
            cursor:pointer;
        }

        .bgRightSpaceIcons input {
            width: 150px;
            height: 25px;
            border-radius: 5px;
            border: 2px solid #003E3E;
        }

    .bgRightSpaceFrame {
        justify-content: center;
        display: flex;
        border: 3px solid #003E3E;
        height: 80vh;
        width: 95%;
        border-radius: 10px;
        margin-left: 30px;
        margin-top: 20px;
    }

#bgNavContainer {
    flex: none;
    height: 98vh;
    width: 150px;
    background-color: #003E3E;
}

    .btnBGNavs {
        margin-top: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .btnBGNavs a {
            font-size: 25px;
            text-decoration: none;
            color: white;
            margin: 20px;
        }

            .btnBGNavs a:hover {
                color: #00FFFF;
            }

#labBGLoginTitle {
    font-size: 30px;
    flex: auto;
    margin-left: 40%;
    margin-top: 40px;
}

#bgLoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

    .txbBGLoginInputBox { /*包在輸入框外的框*/
        width: 450px;
        text-align: left;
        margin-top:40px;
}

        .txbBGLoginInputBox input { /*輸入框*/
            border: 1px solid #34c2ff;
            height: 30px;
            width: 300px;
            margin-bottom: 20px;
        }

        .txbBGLoginInputBox img {
            width: 30px;
            height: auto;
        }

.tableContainer {
    margin-left: 300px;
    margin-right: 250px;
    margin-top: 40px;
}

#table {
    display: block;
    border-spacing: 0; /*間距*/
    border: 1px solid #f3f3f3;
}

th{ /*欄寬,欄高,置中,線條*/
    width: 300px;
    height: 40px;
    text-align: center;
    border: 0.5px solid #f3f3f3;
}

th { /*標頭*/
    background-color: #6b675d;
    color: #ffffff;
    height: 40px;
}

td { /*列*/
    background-color: #f3f3f3;
}

.sortItem {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 8px;
}

.littleTitle {
    font-size: 20px;
    margin-right:300px;
}

.btnSmall {
    width: 90px;
    height: 25px;
    font-size: 15px;
    background-color: #64A600;
    font-weight: 300;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 0 #ffffff;
    outline: none;
}

    .btnSmall:hover {
        background-color: red;
    }
/*確認&取消彈窗*/
.popUpConfBox {
    display: none;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #003E3E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .popUpConfP {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 70px;
    }

/*確認&取消 小按鈕*/
.btnsBox {
    display: flex;
    margin-top: 80px;
    margin-left: 110px;
}

.btnConf {
    width: 80px;
    height: 50px;
    font-size: 20px;
    background-color: #64A600;
    border-color: #64A600;
    cursor: pointer;
    border-radius: 10px;
    display: block;
    margin-left: 20px;
}

    .btnConf:hover {
        background-color: red;
        color: #ffffff;
        border: red;
    }

.btnCancel {
    width: 80px;
    height: 50px;
    font-size: 20px;
    background-color: white;
    border-color: #64A600;
    cursor: pointer;
    border-radius: 10px;
    display: block;
}

    .btnCancel:hover {
        background-color: red;
        color: #ffffff;
        border: red;
    }