.bgAllSubContainer {
    display:flex;
}

.btnBGAllSub1 { 
    width: 130px;
    height: 45px;
    font-size: 20px;
    color: #ffffff;
    background-color: #64A600;
    font-weight: 700;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
}

    .btnBGAllSub1:hover { 
        background-color: red;
    }

.btnBGAllSub2 {
    width: 130px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
}

    .btnBGAllSub2:hover {
        color: #00FFFF;
    }

.togCursor {
    cursor: pointer;
}

#bgWeb {
    display: flex;
    height: 100vh;
}

#bgRightSpace {
    flex: auto;
}

    #bgRightSpaceTitle {
        font-size: 30px;
        flex: auto;
        margin-left: 40%;
        margin-top: 40px;
    }

    .bgRightSpaceIcons {
        justify-content: flex-end;
        display: flex;
        margin-right: 2%;
    }

        .bgRightSpaceIcons img {
            width: 30px;
            height: 30px;
            margin-left: 15px;
            cursor:pointer;
        }

        .bgRightSpaceIcons input {
            width: 150px;
            height: 25px;
            border-radius: 5px;
            border: 2px solid #003E3E;
        }

    .bgRightSpaceFrame {
        justify-content: center;
        display: flex;
        border: 3px solid #003E3E;
        height: 80vh;
        width: 95%;
        border-radius: 10px;
        margin-left: 30px;
        margin-top: 20px;
    }

#bgNavContainer {
    flex: none;
    height: 98vh;
    width: 150px;
    background-color: #003E3E;
}

    .btnBGNavs {
        margin-top: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .btnBGNavs a {
            font-size: 25px;
            text-decoration: none;
            color: white;
            margin: 20px;
        }

            .btnBGNavs a:hover {
                color: #00FFFF;
            }

#labBGLoginTitle {
    font-size: 30px;
    flex: auto;
    margin-left: 40%;
    margin-top: 40px;
}

#bgLoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

    .txbBGLoginInputBox { /*包在輸入框外的框*/
        width: 450px;
        text-align: left;
        margin-top:40px;
}

        .txbBGLoginInputBox input { /*輸入框*/
            border: 1px solid #34c2ff;
            height: 30px;
            width: 300px;
            margin-bottom: 20px;
        }

        .txbBGLoginInputBox img {
            width: 30px;
            height: auto;
        }

.TableStyle {
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

table {
    width: 90%;
    border-spacing: 0; /*間距*/
    border: 1px solid #6b675d;
}

th, td { /*欄寬,欄高,置中,線條*/
    width: 120px;
    height: 40px;
    text-align: center;
    border: 0.5px solid #6b675d;
}

th { /*標頭*/
    background-color: #6b675d;
    color: #ffffff;
    height: 40px;
}

td { /*列*/
    background-color: #f3f3f3;
}

th.sort{
    width:auto;
}

.sortContainer {
    display: flex;
}

img.sort {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.abc ul {
    display: flex;
    list-style: none; /* 移除默认的列表样式 */
    padding: 0; /* 移除默认的内边距 */
    margin: 0; /* 移除默认的外边距 */
    display: flex;
    justify-content: center;
}

.abc a {
    text-decoration: none;
    color: inherit;
}

.abc li {
    margin: -2px -5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
}

.abc .column li {
    height: 60px;
    width: 200px;
    background-color: #f3f3f3;
}

    .abc .column li.column-1 {
        width: 100px;
    }

    .abc .column li.column-2 {
        width: 200px;
    }

    .abc .column li.column-3 {
        width: 120px;
    }

    .abc .column li.column-4 {
        width: 80px;
    }