.BSAllSubContainer {
    display:flex;
}

.BSAllSub1 { /*提交按鈕*/
    width: 130px;
    height: 45px;
    font-size: 20px;
    color: #ffffff;
    background-color: #64A600;
    font-weight: 700;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
}

    .BSAllSub1:hover {
        background-color: red;
    }

.BSAllSub2 {
    width: 130px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
}

    .BSAllSub2:hover {
        color: #00FFFF;
    }

.TogCursor{
    cursor: pointer;
}

#BSWeb {
    display: flex;
    height: 100vh;
}

#BSRightSpace {
    flex: auto;
}

    #BSRightSpaceTitle {
        font-size: 30px;
        flex: auto;
        margin-left: 40%;
        margin-top: 40px;
    }

    .BSRightSpaceIcons {
        justify-content: flex-end;
        display: flex;
        margin-right: 2%;
    }

        .BSRightSpaceIcons img {
            width: 30px;
            height: 30px;
            margin-left: 15px;
            cursor:pointer;
        }

        .BSRightSpaceIcons input {
            width: 150px;
            height: 25px;
            border-radius: 5px;
            border: 2px solid #003E3E;
        }

    .BSRightSpaceFrame {
        justify-content: center;
        display: flex;
        border: 3px solid #003E3E;
        height: 80vh;
        width: 95%;
        border-radius: 10px;
        margin-left: 30px;
        margin-top: 20px;
    }

#BSNavContainer {
    flex: none;
    height: 98vh;
    width: 150px;
    background-color: #003E3E;
}

    .BSNavBars {
        margin-top: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .BSNavBars a {
            font-size: 25px;
            text-decoration: none;
            color: white;
            margin: 20px;
        }

            .BSNavBars a:hover {
                color: #00FFFF;
            }

#BSLoginTitle {
    font-size: 30px;
    flex: auto;
    margin-left: 40%;
    margin-top: 40px;
}

#BSLoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

    .BSLoginInputBox { /*包在輸入框外的框*/
        width: 450px;
        text-align: left;
        margin-top:40px;
}

        .BSLoginInputBox input { /*輸入框*/
            border: 1px solid #34c2ff;
            height: 30px;
            width: 300px;
            margin-bottom: 20px;
        }

            .BSLoginInputBox input:valid {
                border: 2px solid green;
            }

            .BSLoginInputBox input:invalid:not(:placeholder-shown) {
                border: 2px solid red;
            }

        .BSLoginInputBox img {
            width: 30px;
            height: auto;
        }
